{% extends 'layout.html.twig' %}

{% block title %}Catégorie {{ id }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ base_path()}}/{{ css }}/actions.css ">
{% endblock %}

{% block content %}
    <h1>Catégorie {{ id }}</h1>
    <p>{{ libelle }}</p>
    <a href="{{ url_for('prestationsOneCategorie', { 'id': id }) }}">voir ces prestation</a><br>
    <a href="{{ url_for('categories') }}">voir la liste des catégories</a>
{% endblock %}
